<h1><%= title %></h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="newpost-form" method="post">
        <textarea name="content" cols="30" rows="5" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <div id="posts-list-container">
        <ul>
            <% for(post of posts) { %>
                <p>
                    <li>
                        <!-- <%= post.createdAt %> -->
                        <%= post.content %>
                        <small>
                            <%= post.user.name %>
                        </small>
                    </li>
                </p>
                
            <% } %>
        </ul>
    </div>
</section>