<div>
    <p>
        <h1>Hi <%= comment.user.name %></h1>
    </p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %> </strong> has been published on codeial</p>
    <br>
    <br>
    <p>
        Thanks!
    </p>
</div>